* {
    font-family: "Helvetica", "sans-serif", "Calibri";
    font-weight: bold;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#text {
    user-select: none;
    font-size: 2em;
}

#canvas {
    background-color: white;
    display: flex;
    z-index: -1;
}

.button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}